.splash {
    z-index: 3;
    position: relative;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5vw;
    color: white;
    font-size: clamp(1.2rem, 1.8vw, 3.75rem);
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    text-transform: uppercase;
}

.splash__title {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
}

.splash__logo {
    align-self: flex-end;
    margin-right: 9.7vw;
    width: 47vw;
}

.splash__subtext--1 {
    margin-left: 25vw;
    margin-bottom: 0.3vw;
}

.splash__subtexts {
    margin-left: 13vw;
    display: flex;
    gap: 13vw;
} 

@media (max-width: 768px) {
    .splash__logo {
        align-self: flex-start;
        margin-right: 0;
        width: 77vw;
    }
    .splash__subtexts {
        flex-direction: column;
    }
    .splash__subtext--1 {
        margin-bottom: 1vw;
    }
    .splash__subtext--date {
        align-self: center;
        gap: 20vw;
    }
}